.portada2 {
    width: 100%;
    height: auto;
    max-height: 400px;
    padding-top: 25px;
}

h1{
    font-size: 330%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #000000;
    box-shadow: 3px 3px 8px white;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover{
    background-color: blueviolet;
}

#active {
    background-color: rgb(0, 4, 255);
}

.titulo2{
    font-size: xx-large;
    color: rgb(58, 57, 57);
    text-transform: uppercase;
}

.logo1{
    float: right;
}

.texto-informativo {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(178, 185, 183);
}