.portada2 {
    width: 100%;
    height: auto;
    max-height: 400px;
    padding-top: 25px;
}

.button {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #000000;
    box-shadow: 3px 3px 8px white;
    font-family: 'Times New Roman', Times, serif;
}

.button-group{
    padding: 15px 0px;
}

.button:hover {
    background-color: blueviolet;
}

#active {
    background-color: rgb(0, 4, 255);
}

.titulo2 {
    font-size: xx-large;
    color: rgb(58, 57, 57);
    text-transform: uppercase;
}

.logo1 {
    float: right;
}

.texto-informativo {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rules-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.rules-title h2 {
    font-weight: normal;
}

.sportmanship {
    text-indent: 40px;
    padding-bottom: 10px;
}

.regulations h3 {
    text-indent: 40px;
}

.all-play {
    text-indent: 40px;
}

.game-info-title p{
    text-decoration: underline;
    font-style: italic;
}

.game-info-title h2{
    font-style: italic;
    font-weight: normal;
}

.title-gameinfo{
    text-align: center;
}

table{
    margin: auto;
    padding: 20px;
    border-spacing: 55px 15px;
    text-align: justify;
}